#device-container.device-resizer {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: auto;
    position: relative;
}

#device-resizer {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    color: #444;
    background: #eee;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.device-list[view=handset].device-resizer {
    margin: auto;
}

device-view {
    display: block;
    position: relative;
}

device-view[device=handset] {
    border-color: #999;
    border-radius: 36px;
    border-style: solid;
    border-width: 60px 16px;
}

.device-list.device-resizer device-view.device-resizer {
    display: none;
}

.device-list[view=handset].device-resizer #handset.device-resizer {
    display: block;
    margin: 40px;
}

.frame-container.device-view {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
}

iframe.device-view {
    background: #fff;
    border: none;
    height: 100%;
    position: absolute;
    width: 100%;
}