#device-container.device-resizer {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: auto;
    position: relative;
}

#device-resizer {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    color: #444;
    background: #eee;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.device-list[view=handset].device-resizer {
    margin: 0 auto;
}

device-view {
    display: block;
    position: relative;
}

device-view[device=handset] {
    border-color: #999;
    border-radius: 36px;
    border-style: solid;
    border-width: 60px 16px;
    width: 360px; height: 640px;
}


device-view[device=tablet] {
    border-color: #999;
    border-radius: 36px;
    border-style: solid;
    border-width: 60px 16px;
    width: 540px; height: 720px;
}

.device-list.device-resizer device-view.device-resizer {
    display: none;
}

.device-list[view=handset].device-resizer #handset.device-resizer {
    display: block;
    margin: 40px;
}

.frame-container.device-view {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
}

iframe.device-view {
    background: #fff;
    border: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.router{
    text-align: left;
    width:400px;
}

ul{
    padding: 0; margin: 0;
}

ul li{
    list-style: none;
    margin:1rem 0;
}

ul li a{

    color: #2196f3;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 2px;
    line-height: 36px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: none;
    padding: 0 10px;
    margin: 0;
    height: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    text-transform: uppercase;
    font-family: inherit;
    cursor: pointer;
    min-width: 64px;
    padding: 0 8px;
    position: relative;
    overflow: hidden;
    outline: 0;
    border: none;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);

}

ul li a.active{
    background-color: #2196f3;
    color:#fff;
}