.row1{
    background-color: #eee;
}

table th{
    background-color: #d17821;
}

table td, table th{
    border:1px solid #222;
}

.important{
    background: #ffff00;
}

.align-l{
    text-align: left !important;
}
.align-r{
    text-align: right !important;
}
.align-c{
    text-align: center !important;
}
.euro{
    font-weight: bold;
}

.icon-round{
    text-indent: -9999em;
}

.icon-round.danger{
    background: #c00;
}
.icon-round.success{
    background: #008000;
}