body,
html {
  overflow-x: hidden !important;
  height: 100%;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.table {
  width: 100%;
}
.bootstrap-table .table td,
.fixed-table-body .table td,
.table td {
  height: 32px;
}
.tbl-th {
  width: 50%;
  padding: 0 20px 10px 0;
  color: #919fa9;
}
.tbl-top .tbl-cell {
  vertical-align: top;
}
.proj-page-attach .icon {
  color: #adb7be;
  font-size: 2.875rem;
  left: 0;
  line-height: 1;
  position: absolute;
  top: 7px;
}
.dataTable .proj-page-section {
  padding: 0 0 0 10px !important;
}
.dataTable .proj-page-attach {
  margin: 0;
  width: 100%;
  padding-right: 0;
}
.newFlagIcon {
  position: absolute;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  left: -8px;
  margin: 0 !important;
  z-index: 2;
  top: 0;
}
#adminForm .newFlagIcon,
#adminForm .pull-right-absolute {
  display: none;
}
.align-center {
  text-align: center;
}
.box-typical.box-typical-dashboard {
  height: 490px;
  margin: 0 0 30px;
  overflow: hidden;
}
.pull-right-absolute {
  position: absolute;
  top: 0;
  right: 0;
}
.box-typical-dashboard .pull-right-absolute {
  display: none;
}
.no-padding {
  padding: 0 !important;
}
.checkbox.row input {
  visibility: visible;
  margin: -3px 10px 0 -10px;
  vertical-align: middle;
}
.site-header-content-in {
  margin-top: -5px;
}
.site-header .site-header-search-container,
.site-header .dropdown.dropdown-typical {
  margin-top: 5px;
}
.buttons-columnVisibility {
  padding: 5px 10px;
}
.buttons-columnVisibility.active a::before {
  content: "\e067";
}
.buttons-columnVisibility a::before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e157";
  margin-right: 5px;
}
table.dataTable td.center,
table.dataTable th.center {
  text-align: center;
}
table.dataTable td.right,
table.dataTable th.right {
  text-align: right;
}
.dataTables_wrapper .top {
  padding: 20px 15px 10px;
  zoom: 1;
}
.dataTables_wrapper .bottom {
  padding: 10px 15px;
}
.dataTables_wrapper .dataTables_length {
  float: left;
  line-height: 32px;
  padding-top: 6px;
}
.dataTables_wrapper .dataTables_info {
  float: left;
  padding-top: 0 !important;
  line-height: 32px;
  white-space: nowrap;
}
.dataTables_wrapper .dt-buttons {
  float: right;
}
.dataTables_wrapper .dataTables_filter {
  float: right;
  margin-right: 15px;
}
.dataTables_wrapper .bootstrap-datetimepicker-widget {
  margin: 0;
  padding: 0;
  z-index: 999;
}
.dataTables_wrapper .bootstrap-datetimepicker-widget td,
.dataTables_wrapper .bootstrap-datetimepicker-widget th {
  padding: 0 !important;
}
.dataTables_wrapper .yadcf-filter-wrapper {
  display: inline-block;
  white-space: nowrap;
  margin-left: 0;
  clear: both;
  float: none;
  width: 100%;
  position: relative;
  margin-top: 5px;
}
.dataTables_wrapper .yadcf-filter-reset-button {
  display: inline-block;
  position: absolute;
  top: 1px;
  right: 0;
  padding: 1px 6px 2px;
  background: #eee;
  border: 0;
}
.dataTables_wrapper .yadcf-filter,
.dataTables_wrapper .yadcf-filter-date {
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 5px;
  padding-top: 4px;
  line-height: 1;
  width: 100%;
  margin: 0;
  background: #fff;
  border: 1px solid #eee;
  font-size: 11px;
  font-family: Tahoma, Arial, Verdana;
  color: #8e9fa7;
}
.dataTables_wrapper table.dataTable thead .sorting:before,
.dataTables_wrapper table.dataTable thead .sorting_asc:before,
.dataTables_wrapper table.dataTable thead .sorting_desc:before,
.dataTables_wrapper table.dataTable thead .sorting_asc_disabled:before,
.dataTables_wrapper table.dataTable thead .sorting_desc_disabled:before,
.dataTables_wrapper table.dataTable thead .sorting:after,
.dataTables_wrapper table.dataTable thead .sorting_asc:after,
.dataTables_wrapper table.dataTable thead .sorting_desc:after,
.dataTables_wrapper table.dataTable thead .sorting_asc_disabled:after,
.dataTables_wrapper table.dataTable thead .sorting_desc_disabled:after {
  top: 0.5em;
  bottom: auto;
}
.dataTables_wrapper table.dataTableFull {
  width: 100% !important;
}
.table-striped tbody tr:nth-of-type(odd) {
  background: #fff;
}
.side-menu {
  width: 180px;
}
.with-side-menu .page-content {
  padding-left: 190px;
}
.page-content {
  padding: 107px 10px 10px;
}
.theme-picton-blue .site-header .site-header-content-in,
.theme-picton-blue-white-ebony .site-header .site-header-content-in,
.theme-rebecca-purple .site-header .site-header-content-in,
.theme-side-caesium-dark-caribbean .site-header .site-header-content-in,
.theme-side-ebony-clay .site-header .site-header-content-in,
.theme-side-litmus-blue .site-header .site-header-content-in,
.theme-side-madison-caribbean .site-header .site-header-content-in,
.theme-side-tin .site-header .site-header-content-in {
  margin-left: 180px;
}
.theme-picton-blue .site-header .site-logo,
.theme-picton-blue-white-ebony .site-header .site-logo,
.theme-rebecca-purple .site-header .site-logo,
.theme-side-caesium-dark-caribbean .site-header .site-logo,
.theme-side-ebony-clay .site-header .site-logo,
.theme-side-litmus-blue .site-header .site-logo,
.theme-side-madison-caribbean .site-header .site-logo,
.theme-side-tin .site-header .site-logo {
  width: 180px;
}
.DTFC_RightWrapper {
  right: 0 !important;
}
#table_processing {
  display: none !important;
}
.help-block {
  font-size: 14px;
  opacity: 0.8;
  padding: 4px 0;
}
.form-group.row label {
  line-height: 38px;
  text-align: right;
}
.form-group.form-group-translation .label-default {
  margin-left: 10px;
  text-transform: uppercase;
}
.has-error .form-control,
.form-group-error .form-control {
  border-color: #fa424a;
}
.has-error :not(a),
.form-group-error :not(a) {
  color: #fa424a;
}
.site-header .site-header-collapsed .site-header-collapsed-in {
  margin-right: 250px;
  zoom: 1;
}
.form-control.timedropper {
  width: 200px !important;
}
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
  opacity: 1;
  color: red;
  font-weight: 700;
}
table.dataTable thead .inuse {
  background-color: #ffffe0 !important;
  color: #000 !important;
}
.label-secondary {
  background-color: #6b7a85;
}
.form-control.small {
  width: 200px;
}
.form-control.medium {
  width: 400px;
}
.form-control.large {
  width: 600px;
}
.estate-page .proj-page-section {
  padding: 15px;
}
.estate-page .proj-page-header .title {
  margin: 0;
}
.sign-box .sign-avatar {
  width: 200px;
  height: auto;
  margin: 0 auto 30px;
}
.sign-box .sign-avatar img {
  display: block;
  width: 100%;
  border-radius: 0;
}
.comment-rows-container {
  max-height: 100%;
}
.comment-rows-container .comment-row-item .comment-row-item-content {
  padding: 0 0 6px 0;
  position: relative;
}
