#login{
  .button{
    width:100%;
  }

  .col-100{
    margin:0 auto;
  }

  .logo{
    margin: 1rem auto;
    text-align: center;
    display: block;
  }

  .card{
    margin-top: 2rem;
  }

  .card-header{
    text-align: center;
    font-weight: 700;
    display: block;
    line-height: 37px;
  }
  .login-screen-content{
    background-color: #fcfcfc;
  }
}