@media (max-width: 599px) {
  .hide-phone{
    display: none !important;
  }
  .show-phone{
    display: block;
  }
  .list-block .item-after{
    font-size: 11px;
  }
}
@media (min-width: 600px) {
  .show-phone{
    display: none !important;
  }
  .hide-tablet{
    display: none !important;
  }
}