.theme-teal .searchbar {
  background-color: #009688;
}
.theme-teal .user-box .user-icon {
  color: #009688 !important;
}
.theme-green .searchbar {
  background-color: #4caf50;
}
.theme-green .user-box .user-icon {
  color: #4caf50 !important;
}
.theme-pink .searchbar {
  background-color: #e91e63;
}
.theme-pink .user-box .user-icon {
  color: #e91e63 !important;
}
.theme-indigo .searchbar {
  background-color: #3f51b5;
}
.theme-indigo .user-box .user-icon {
  color: #3f51b5 !important;
}
.theme-red .searchbar {
  background-color: #f44336;
}
.theme-red .user-box .user-icon {
  color: #f44336 !important;
}
.theme-cyan .searchbar {
  background-color: #00bcd4;
}
.theme-cyan .user-box .user-icon {
  color: #00bcd4 !important;
}
.theme-black .searchbar {
  background-color: #000;
}
.theme-black .user-box .user-icon {
  color: #000 !important;
}
.theme-brown .searchbar {
  background-color: #795548;
}
.theme-brown .user-box .user-icon {
  color: #795548 !important;
}
.theme-orange .searchbar {
  background-color: #ff9800;
}
.theme-orange .user-box .user-icon {
  color: #ff9800 !important;
}
.theme-gray .searchbar {
  background-color: #9e9e9e;
}
.theme-gray .user-box .user-icon {
  color: #9e9e9e !important;
}
a,
button,
input,
select {
  outline: none !important;
}
input[type=submit],
button {
  border: 0;
}
.navbar-inner small {
  margin-left: 15px;
  font-size: 12px;
  opacity: 0.7;
  line-height: 20px;
}
.item-error {
  color: #c00;
  display: block;
  font-size: 13px;
  opacity: 0.75;
}
.alert {
  font-size: 14px;
}
.list-block li .desc {
  color: #aaa;
  font-size: 10px;
  font-weight: normal;
  line-height: 1;
}
.list-block li.new {
  background-color: #fffbe8;
}
.list-block li.new .item-title {
  font-weight: bold;
}
.list-block .room {
  border: 2px solid;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 12px;
  line-height: 26px;
}
.list-block .item-media {
  min-width: 32px;
  text-align: center;
}
.list-block > .alert {
  margin-left: 10px;
  margin-right: 10px;
}
.list-block.half {
  margin: 16px 0;
}
.list-block .checked .item-title {
  color: green;
}
.list-block .closed .item-title {
  color: red;
}
.m-icon {
  margin: 0 auto;
}
.navbar a.link,
.toolbar a.link,
.subnavbar a.link {
  padding: 0 10px;
}
.navbar a.link .badge {
  position: absolute;
  right: 5px;
  height: auto;
  margin: 0;
  padding: 5px;
  line-height: 1;
  top: 10px;
  background: #000;
}
.theme-black .navbar a.link .badge {
  background: #c00;
}
.navbar .center,
.subnavbar .center {
  margin: 0 10px;
}
.list-block .item-content {
  padding-left: 10px;
}
.list-block .item-media + .item-inner {
  margin-left: 10px;
}
.list-block .item-link .item-inner {
  background-position: calc(100% - 10px) center;
}
.content-block {
  box-sizing: border-box;
  margin: 20px 0;
  padding: 0 10px;
}
.content-block-inner {
  margin-left: -10px;
  padding: 10px;
  position: relative;
  width: 100%;
}
.content-block-title {
  margin: 10px;
}
select[multiple] {
  border: 1px solid #ddd;
  min-height: 115px;
}
select[multiple] option {
  padding: 4px 8px;
}
#leftPanel .logout {
  width: 100%;
}
#leftPanel .user-box .user-icon {
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  font-size: 64px;
  display: table;
  color: #2196f3;
}
#leftPanel .user-box h3 {
  color: #111;
  margin: 0;
  padding: 4px 0 8px 0;
}
#leftPanel .user-box h5 {
  color: #aaa;
  margin: 0;
  padding: 4px 0 8px 0;
  font-weight: normal;
}
#leftPanel .item-title {
  font-size: 11px;
  text-transform: uppercase;
}
li.bordered {
  border-bottom: 1px solid #ddd;
}
li.collapsible {
  background: #eee;
}
li.collapsible select {
  background: #fff;
}
.list-card {
  background: #eee;
  padding: 12px 0;
}
.list-card > h1,
.list-card h2,
.list-card h3,
.list-card h4,
.list-card h5,
.list-card h6,
.list-card p {
  margin-left: 12px;
  margin-right: 12px;
}
.list-card .card {
  margin: 20px 12px;
}
.list-card .card .card-header,
.list-card .card .card-footer {
  padding: 4px 8px;
}
.list-card .card .label-checkbox {
  width: 100%;
}
.list-card .card .card-content-inner {
  padding: 8px;
}
.list-card .card .button {
  margin: 6px 3px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.list-card .alert {
  margin-left: 10px;
  margin-right: 10px;
  border-width: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.list-card.fullpage {
  height: calc(100%);
  display: table;
  width: 100%;
}
textarea.full {
  height: 80px;
}
.summary {
  margin: 0;
  border-bottom: 1px solid #ddd;
}
.summary label {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 9px;
  text-transform: uppercase;
  margin-bottom: 6px;
  color: #333;
}
.summary .button-round {
  margin: 0 auto;
  display: table;
}
.summary span {
  margin: 10px 0;
}
span.name .button-round {
  width: 50px;
  height: 50px;
}
.ml15 {
  margin-left: 15px;
}
.ml10 {
  margin-left: 5px;
}
.button.full {
  width: 100%;
}
.button.bg-white {
  background: #fff;
}
.card-footer i {
  vertical-align: middle;
  display: inline;
  padding: 0;
}
.item-title.wrapping {
  white-space: inherit;
}
.page-content {
  overflow-x: hidden;
}
.tab.page-content {
  padding-top: 104px;
}
.tabs-wrap {
  position: relative;
  width: 100%;
  overflow: auto;
  height: 100%;
}
.tabs {
  height: 100%;
}
.alert p {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.alert label {
  display: block;
  font-size: 11px;
  opacity: 0.8;
  font-weight: bold;
}
.alert.no-margin {
  margin: 0 !important;
}
.bg-grey {
  background-color: #eee;
}
.card-double .card {
  margin: 18px 12px;
}
.no-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
.card .searchbar {
  font-size: 11px;
  height: 26px;
  border-radius: 2px 2px 0 0;
  padding: 0 8px;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #666 !important;
}
.card .searchbar span {
  display: block;
  margin-right: 8px;
  opacity: 0.85;
}
.messages {
  background-color: #EFFFE9;
  border-bottom: 1px solid #eee;
}
.messages .m-icon {
  font-size: 48px;
  opacity: 0.4;
}
.align-right {
  text-align: right;
}
.page-content.material {
  background: #efefef;
}
.item-content label {
  width: 100%;
  display: block;
  opacity: 0.5;
  font-size: 11px;
  margin-bottom: 0.25rem;
}
li.read {
  background-color: #eee !important;
}
li.unread {
  background-color: lightyellow !important;
}
li.unread .item-title {
  font-weight: 700 !important;
}
.button-raised {
  background-color: #fff;
}
.stepWidget {
  width: 132px;
  margin: -10px 0 0 0;
}
.stepWidget input,
.stepWidget button {
  display: inline-block !important;
}
.stepWidget button {
  width: 48px;
  padding: 0;
  height: 48px;
  border-radius: 100%;
}
.stepWidget input.number {
  width: 36px;
  padding: 0;
  height: 36px;
  text-align: center;
}
.list-bottles .item-divider {
  font-weight: 300;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  font-size: 24px;
}
.list-bottles .item-title {
  width: 100%;
  font-weight: bold;
}
.list-bottles .item-title .badge {
  /*float: right;
      margin: 3px 8px 0 0;*/
  font-weight: normal;
}
.list-bottles .item-big {
  font-size: 18px !important;
}
.list-bottles .selected {
  background-color: #E1F5E1;
}
.list-bottles .selected .item-title {
  color: green;
}
.list-bottles .selected .badge {
  background-color: green;
}
.list-bottles .negative {
  background-color: #FFCECE;
}
.list-bottles .negative .item-title {
  color: #c00;
}
.list-bottles .negative .badge {
  background-color: #c00;
}
.buttons-list .button {
  margin-bottom: 0.5rem;
}
.badgeNumber {
  line-height: 32px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-color: #0C7BD6;
  text-align: center;
}
select {
  -webkit-appearance: menulist !important;
  -webkit-touch-callout: default;
  border: 1px solid red;
  overflow: visible !important;
  outline: deeppink !important;
}
#orderComponent .list-block .item-inner {
  padding-right: 8px;
}
.button-square {
  height: 150px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.button-square .icon {
  font-size: 48px;
  line-height: 48px;
  /*position: relative;
    top: 16px;*/
}
.button-square .text {
  display: block;
  margin: 0 !important;
}
.button-grid .row > div {
  margin-bottom: 1rem;
}
.no-flex {
  display: block !important;
}
.no-flex.item-after {
  white-space: normal !important;
  max-height: 56px !important;
  text-align: right;
}
span.price {
  font-weight: 300;
  margin-left: 10px;
  display: inline-block;
  opacity: 0.7;
  font-size: 13px;
}
.navbar-fixed .page > .searchbar-container,
.navbar-fixed > .searchbar-container,
.navbar-through .page > .searchbar-container,
.navbar-through > .searchbar-container {
  top: 56px;
}
.page > .searchbar-container {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background: #2196f3;
}
.navbar-fixed .page > .searchbar-container ~ .page-content,
.navbar-through .page > .searchbar-container ~ .page-content,
.navbar-fixed > .searchbar-container ~ .page-content,
.navbar-through > .searchbar-container ~ .page-content {
  padding-top: 104px;
}
.searchbar input[type="number"] {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0;
  font-family: inherit;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 0 36px 0 24px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 center;
  transition-duration: 300ms;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23FFFFFF'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%20width%3D'24'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M15.5%2014h-.79l-.28-.27C15.41%2012.59%2016%2011.11%2016%209.5%2016%205.91%2013.09%203%209.5%203S3%205.91%203%209.5%205.91%2016%209.5%2016c1.61%200%203.09-.59%204.23-1.57l.27.28v.79l5%204.99L20.49%2019l-4.99-5zm-6%200C7.01%2014%205%2011.99%205%209.5S7.01%205%209.5%205%2014%207.01%2014%209.5%2011.99%2014%209.5%2014z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E");
  background-size: 24px 24px;
  border-bottom: 1px solid #fff;
  opacity: 0.6;
}
.searchbar input[type="number"]::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
.searchbar input[type="number"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.searchbar.searchbar-active input[type="number"] {
  opacity: 1;
}
.table-widget {
  display: inline-block;
  margin-right: 5px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 100%;
  background: #2196f3;
  color: #fff;
}
.item-name {
  display: inline-block;
  margin-top: 5px;
}
.list-block .inline li {
  display: inline-block;
  width: 49%;
}
.list-block .inline li.hidden-by-searchbar {
  display: none;
}
.list-block .unselectable i {
  visibility: hidden;
}
.list-block .unselectable .item-title {
  opacity: 0.25;
}
.rc {
  font-family: "Roboto Condensed", "Roboto", Tahoma, Arial, Verdana;
}
.badge-type {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  line-height: 48px;
  font-size: 24px;
}
.no-top {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.pull-right {
  float: right;
}
#login .button {
  width: 100%;
}
#login .col-100 {
  margin: 0 auto;
}
#login .logo {
  margin: 1rem auto;
  text-align: center;
  display: block;
}
#login .card {
  margin-top: 2rem;
}
#login .card-header {
  text-align: center;
  font-weight: 700;
  display: block;
  line-height: 37px;
}
#login .login-screen-content {
  background-color: #fcfcfc;
}
@media (max-width: 599px) {
  .hide-phone {
    display: none !important;
  }
  .show-phone {
    display: block;
  }
  .list-block .item-after {
    font-size: 11px;
  }
}
@media (min-width: 600px) {
  .show-phone {
    display: none !important;
  }
  .hide-tablet {
    display: none !important;
  }
}
