@import "colors";

a, button, input, select{
  outline: none !important;
}
input[type=submit], button {
  border: 0;
}
/*
.tab.page-content {
  padding-top: 104px;
}
*/

#leftPanel{
  .logout{
    width:100%;
  }
  .user-box{
    .user-icon{
      vertical-align: middle;
      text-align: center;
      margin: 0 auto;
      font-size: 64px;
      display: table;
      color:#2196f3;
    }
    h3{
      color:#111; margin:0; padding:4px 0 8px 0;
    }
    h5{
      color:#aaa; margin:0; padding:4px 0 8px 0; font-weight: normal;
    }
  }
  .item-title{
    font-size: 11px;
    text-transform: uppercase;
  }

}


.ml15{
  margin-left: 15px;
}
.ml10{
  margin-left: 5px;
}
.toggleIcon{
  margin-left: 12px; cursor: pointer;
}


.button.full{
  width:100%;
}
.button.bg-white{
  background: #fff;
}

.page-content{
  overflow-x: hidden;
}


.alert{
  p{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  label{
    display: block;
    font-size: 11px;
    opacity: 0.8;
    font-weight: bold;
  }
  &.no-margin{
    margin:0 !important;
  }
}

.bg-grey{
  background-color: #eee;
}

.no-bottom{
  margin-bottom: 0; padding-bottom: 0;
}


.align-right{
  text-align: right;
}


.page-content.material {
  background: #efefef;
}

.quantity{
  background: #222;
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 18px;

  &.negative{
    background-color: #c00;
  }
}

.button-quantity{
  border-radius: 100%;
  font-size: 24px;
  padding: 0;
  width: 48px;
  display: block;
  min-width: 48px;
  height: 48px;
  line-height: 48px;
  &.negative{
    color: #c00;
  }
}

.right{
  float:right;
}

.tabs-wrap, .tabs, .page-content{
  height: 100%;
}

.border-green{
  border-top: 10px solid green;
}

.border-red{
  border-top: 10px solid red;
}

.card-header.with-header{
  color: #2196f3;
  font-weight: 300 !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
}

.with-filter{
  .list-block{
    position: relative;
    padding:10px 24px 10px 16px;
    max-width: 80%;
    .selected{
      background-color: yellow !important;
    }
  }
  .cancel{
    position: absolute;
    top: 0;
    right: -10%;
    display: block;
    height: 48px;
    width: 48px;
    line-height: 48px;
    vertical-align: middle;
    font-size: 32px;
  }
}

.table-widget{
  display: inline-block;
  margin-right: 5px;
  font-size:24px;
  width:48px; height: 48px; line-height: 48px; text-align: center; border-radius: 100%; background: #2196f3; color:#fff;
}

.item-name{
  display: inline-block;
  margin-top:5px;
}

.doneTime{
  opacity: 0.7;
  position: absolute;
  bottom: 14px;
  right: 74px;
}

.card.with-border{
  border-style: solid; border-width:24px 2px;
  .card-footer{
    padding:16px
  }
  .card-header{
    padding:10px 16px
  }
}

.no-flex {
  display: block !important;

  &.item-after {
    white-space: normal !important;
    max-height: 56px !important;
    text-align: right;
  }
}

.rc{
  font-family: "Roboto Condensed", "Roboto", Tahoma, Arial, Verdana;
}

.bottles-list{
  .item-title{
    strong{
      font-size: 24px;
      letter-spacing: -0.5px;
    }
  }
  .format{
    font-size: 16px;
    margin-right: 10px;
  }
  .item-after {
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 4px;
  }
}

.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@import "login";
@import "responsive";
