.theme-teal .searchbar {
  background-color: #009688;
}
.theme-teal .user-box .user-icon {
  color: #009688 !important;
}
.theme-green .searchbar {
  background-color: #4caf50;
}
.theme-green .user-box .user-icon {
  color: #4caf50 !important;
}
.theme-pink .searchbar {
  background-color: #e91e63;
}
.theme-pink .user-box .user-icon {
  color: #e91e63 !important;
}
.theme-indigo .searchbar {
  background-color: #3f51b5;
}
.theme-indigo .user-box .user-icon {
  color: #3f51b5 !important;
}
.theme-red .searchbar {
  background-color: #f44336;
}
.theme-red .user-box .user-icon {
  color: #f44336 !important;
}
.theme-cyan .searchbar {
  background-color: #00bcd4;
}
.theme-cyan .user-box .user-icon {
  color: #00bcd4 !important;
}
.theme-black .searchbar {
  background-color: #000;
}
.theme-black .user-box .user-icon {
  color: #000 !important;
}
.theme-brown .searchbar {
  background-color: #795548;
}
.theme-brown .user-box .user-icon {
  color: #795548 !important;
}
.theme-orange .searchbar {
  background-color: #ff9800;
}
.theme-orange .user-box .user-icon {
  color: #ff9800 !important;
}
.theme-gray .searchbar {
  background-color: #9e9e9e;
}
.theme-gray .user-box .user-icon {
  color: #9e9e9e !important;
}
a,
button,
input,
select {
  outline: none !important;
}
input[type=submit],
button {
  border: 0;
}
.navbar-inner small {
  margin-left: 15px;
  font-size: 12px;
  opacity: 0.7;
  line-height: 20px;
}
.item-error {
  color: #c00;
  display: block;
  font-size: 13px;
  opacity: 0.75;
}
.alert {
  font-size: 14px;
}
.item-number-widget {
  border-bottom: 1px solid #ddd;
}
.item-number-widget .number-widget button {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  min-width: 36px;
  padding: 0;
  vertical-align: top;
  width: 24px;
}
.item-number-widget .number-widget .item-input-field {
  display: inline-block;
}
.item-number-widget .number-widget input[type=text],
.item-number-widget .number-widget input[type=number] {
  width: 32px;
  text-align: center;
  display: inline-block;
}
.list-block li .desc {
  color: #aaa;
  font-size: 10px;
  font-weight: normal;
  line-height: 1;
}
.list-block li.new {
  background-color: #fffbe8;
}
.list-block li.new .item-title {
  font-weight: bold;
}
.list-block .room {
  border: 2px solid;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 12px;
  line-height: 26px;
}
.list-block .item-media {
  min-width: 32px;
  text-align: center;
}
.list-block > .alert {
  margin-left: 10px;
  margin-right: 10px;
}
.list-block.half {
  margin: 16px 0;
}
.list-block .checked .item-title {
  color: green;
}
.list-block .closed .item-title {
  color: red;
}
.m-icon {
  margin: 0 auto;
}
.navbar a.link,
.toolbar a.link,
.subnavbar a.link {
  padding: 0 10px;
}
.navbar a.link .badge {
  position: absolute;
  right: 5px;
  height: auto;
  margin: 0;
  padding: 5px;
  line-height: 1;
  top: 10px;
  background: #000;
}
.theme-black .navbar a.link .badge {
  background: #c00;
}
.navbar .center,
.subnavbar .center {
  margin: 0 10px;
}
.list-block .item-content {
  padding-left: 10px;
}
.list-block .item-media + .item-inner {
  margin-left: 10px;
}
.list-block .item-link .item-inner {
  background-position: calc(100% - 10px) center;
}
.content-block {
  box-sizing: border-box;
  margin: 20px 0;
  padding: 0 10px;
}
.content-block-inner {
  margin-left: -10px;
  padding: 10px;
  position: relative;
  width: 100%;
}
.content-block-title {
  margin: 10px;
}
select[multiple] {
  border: 1px solid #ddd;
  min-height: 115px;
}
select[multiple] option {
  padding: 4px 8px;
}
#leftPanel .logout {
  width: 100%;
}
#leftPanel .user-box .user-icon {
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  font-size: 64px;
  display: table;
  color: #2196f3;
}
#leftPanel .user-box h3 {
  color: #111;
  margin: 0;
  padding: 4px 0 8px 0;
}
#leftPanel .user-box h5 {
  color: #aaa;
  margin: 0;
  padding: 4px 0 8px 0;
  font-weight: normal;
}
#leftPanel .item-title {
  font-size: 11px;
  text-transform: uppercase;
}
li.bordered {
  border-bottom: 1px solid #ddd;
}
li.collapsible {
  background: #eee;
}
li.collapsible select {
  background: #fff;
}
.list-card {
  background: #eee;
  padding: 12px 0;
}
.list-card > h1,
.list-card h2,
.list-card h3,
.list-card h4,
.list-card h5,
.list-card h6,
.list-card p {
  margin-left: 12px;
  margin-right: 12px;
}
.list-card .card {
  margin: 20px 12px;
}
.list-card .card .card-header,
.list-card .card .card-footer {
  padding: 4px 8px;
}
.list-card .card .label-checkbox {
  width: 100%;
}
.list-card .card .card-content-inner {
  padding: 8px;
}
.list-card .card .button {
  margin: 6px 3px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.list-card .alert {
  margin-left: 10px;
  margin-right: 10px;
  border-width: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.list-card.fullpage {
  height: calc(100%);
  display: table;
  width: 100%;
}
.changeable.different {
  background: lightgoldenrodyellow;
}
.ml15 {
  margin-left: 15px;
}
.ml10 {
  margin-left: 5px;
}
.button.full {
  width: 100%;
}
.button.bg-white {
  background: #fff;
}
.card-footer i {
  vertical-align: middle;
  display: inline;
  padding: 0;
}
.item-title.wrapping {
  white-space: inherit;
}
.page-content {
  overflow-x: hidden;
}
.tab.page-content {
  padding-top: 104px;
}
.tabs-wrap {
  position: relative;
  width: 100%;
  overflow: auto;
  height: 100%;
}
.tabs {
  height: 100%;
}
.alert p {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.alert label {
  display: block;
  font-size: 11px;
  opacity: 0.8;
  font-weight: bold;
}
.alert.no-margin {
  margin: 0 !important;
}
.item-feedback a {
  font-size: 12px;
}
.item-feedback .toggleIcon {
  margin-left: 0;
  font-size: 15px;
}
.item-feedback label {
  font-size: 11px;
  opacity: 0.7;
}
.item-note {
  background: #FBFFE6;
}
.item-feedback .notesAlert {
  right: -6px;
  top: -6px;
}
.notesAlert {
  position: absolute;
  right: -9px;
  top: -9px;
  display: block;
  background: #000;
  color: #fff;
  font-size: 11px;
  border-radius: 100%;
  border: 2px solid #fff;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.bg-grey {
  background-color: #eee;
}
.card-double .card {
  margin: 18px 12px;
}
.no-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
.card .searchbar {
  font-size: 11px;
  height: 26px;
  border-radius: 2px 2px 0 0;
  padding: 0 8px;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #666 !important;
}
.card .searchbar span {
  display: block;
  margin-right: 8px;
  opacity: 0.85;
}
.messages {
  background-color: #EFFFE9;
  border-bottom: 1px solid #eee;
}
.messages .m-icon {
  font-size: 48px;
  opacity: 0.4;
}
.align-right {
  text-align: right;
}
.group-choice {
  padding: 12px 0;
}
.group-choice label {
  margin-top: 6px;
}
.group-choice .button-round {
  opacity: 0.7;
}
.table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-color: grey;
}
.table th {
  border-bottom: 2px solid #ababab;
  padding: 5px;
}
.table td {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}
.page-content.material {
  background: #efefef;
}
.item-content label {
  width: 100%;
  display: block;
  opacity: 0.5;
  font-size: 11px;
  margin-bottom: 0.25rem;
}
li.read {
  background-color: #eee !important;
}
li.unread {
  background-color: lightyellow !important;
}
li.unread .item-title {
  font-weight: 700 !important;
}
.quantity {
  background: #222;
  width: 48px;
  height: 48px;
  line-height: 48px;
  color: #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 24px;
}
.button-quantity {
  border-radius: 100%;
  font-size: 24px;
  padding: 0;
  width: 48px;
  display: block;
  min-width: 48px;
  height: 48px;
  line-height: 48px;
}
.button-quantity.negative {
  color: #c00;
}
.table-widget {
  display: inline-block;
  margin-right: 5px;
  font-size: 24px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 100%;
  background: #2196f3;
  color: #fff;
}
.item-name {
  display: inline-block;
  margin-top: 5px;
}
.card.with-border {
  border-style: solid;
  border-width: 24px 2px;
}
.card.with-border .card-footer {
  padding: 16px;
}
.card.with-border .card-header {
  padding: 10px 16px;
}
.rc {
  font-family: "Roboto Condensed", "Roboto", Tahoma, Arial, Verdana;
}
.bottles-list .item-title strong {
  font-size: 24px;
  letter-spacing: -0.5px;
}
.bottles-list .format {
  font-size: 16px;
  margin-right: 10px;
}
.bottles-list .item-after {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 4px;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#login .button {
  width: 100%;
}
@media (max-width: 599px) {
  .hide-phone {
    display: none !important;
  }
  .show-phone {
    display: block;
  }
  .list-block .item-after {
    font-size: 11px;
  }
}
@media (min-width: 600px) {
  .show-phone {
    display: none !important;
  }
  .hide-tablet {
    display: none !important;
  }
}
