@import "colors";
a, button, input, select{
  outline: none !important;
}
input[type=submit], button {
  border: 0;
}

.navbar-inner {
  small {
    margin-left: 15px;
    font-size: 12px;
    opacity: 0.7;
    line-height: 20px;
  }
}

.item-error {
  color: #c00;
  display: block;
  font-size: 13px;
  opacity: 0.75;
}

.alert {
  font-size: 14px;
}


.item-number-widget{

  border-bottom:1px solid #ddd;

  .number-widget {
    button {
      display: inline-block;
      height: 36px;
      line-height: 36px;
      min-width: 36px;
      padding: 0;
      vertical-align: top;
      width: 24px;
    }
    .item-input-field{
      display: inline-block;
    }
    input[type=text],input[type=number] {
      width: 32px;
      text-align: center;
      display: inline-block;
    }
  }
}


.list-block {
  li {
    .desc {
      color: #aaa;
      font-size: 10px;
      font-weight: normal;
      line-height: 1;
    }
  }

  li.new {
    background-color: #fffbe8;

    .item-title {
      font-weight: bold;
    }
  }

  .room {
    border: 2px solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 12px;
    line-height: 26px;
  }

  .item-media {
    min-width: 32px;
    text-align: center;
  }

  & > .alert {
    margin-left: 10px;
    margin-right: 10px;
  }

  &.half{
    margin:16px 0;
  }

  .checked{
    .item-title{
      color:green;
    }
  }

  .closed{
    .item-title{
      color:red;
    }
  }
}

.m-icon{
  margin:0 auto;
}
.navbar a.link, .toolbar a.link, .subnavbar a.link{
  padding: 0 10px;
}
.navbar a.link .badge {
  position: absolute;
  right: 5px;
  height: auto;
  margin: 0;
  padding: 5px;
  line-height: 1;
  top: 10px;
  background: #000;
}
.theme-black{
  .navbar a.link .badge {
    background: #c00;
  }
}
.navbar .center, .subnavbar .center{
  margin: 0 10px;
}

.list-block .item-content{
  padding-left: 10px;
}
.list-block .item-media + .item-inner {
  margin-left: 10px;
}
.list-block .item-link .item-inner {
  background-position: ~"calc(100% - 10px) center";
}
.content-block {
  box-sizing: border-box;
  margin: 20px 0;
  padding: 0 10px;
}
.content-block-inner {
  margin-left: -10px;
  padding: 10px;
  position: relative;
  width: 100%;
}

.content-block-title {
  margin: 10px;
}

select[multiple]{
  border: 1px solid #ddd;
  min-height: 115px;

  option{
    padding:4px 8px;
  }
}

#leftPanel{
  .logout{
    width:100%;
  }
  .user-box{
    .user-icon{
      vertical-align: middle;
      text-align: center;
      margin: 0 auto;
      font-size: 64px;
      display: table;
      color:#2196f3;
    }
    h3{
      color:#111; margin:0; padding:4px 0 8px 0;
    }
    h5{
      color:#aaa; margin:0; padding:4px 0 8px 0; font-weight: normal;
    }
  }
  .item-title{
    font-size: 11px;
    text-transform: uppercase;
  }

}

li.bordered{
  border-bottom: 1px solid #ddd;
}

li.collapsible{
  background: #eee;
  select{
    background: #fff;
  }
}

.list-card{
  background: #eee;
  padding:12px 0;

  & > h1, h2, h3, h4, h5, h6, p{
    margin-left: 12px; margin-right: 12px;
  }

  .card{
    margin:20px 12px;
    .card-header, .card-footer{
      padding:4px 8px;
    }
    .label-checkbox{
      width:100%;
    }
    .card-content-inner{
      padding: 8px;
    }
    .button{
      margin:6px 3px; width:100%; text-align: center; font-weight: bold;
    }
  }

  .alert {
    margin-left: 10px;
    margin-right: 10px;
    border-width:4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  &.fullpage{
    height: ~"calc(100%)";
    display: table; width: 100%;
  }
}

.changeable{
  &.different{
    background: lightgoldenrodyellow;
  }
}


.ml15{
  margin-left: 15px;
}
.ml10{
  margin-left: 5px;
}


.button.full{
  width:100%;
}
.button.bg-white{
  background: #fff;
}
.card-footer{
  i{
    vertical-align: middle;
    display: inline;
    padding: 0;
  }
}

.item-title{
  &.wrapping{
    white-space: inherit;
  }
}

.page-content{
  overflow-x: hidden;
}

.tab.page-content{
    padding-top: 104px;
}

.tabs-wrap{
  position: relative;
  width: 100%;
  overflow: auto;
  height: 100%;
}

.tabs{
  height: 100%;
}

.alert{
  p{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  label{
    display: block;
    font-size: 11px;
    opacity: 0.8;
    font-weight: bold;
  }
  &.no-margin{
    margin:0 !important;
  }
}

.item-feedback{
  a{
    font-size: 12px;
  }
  .toggleIcon {
    margin-left: 0;
    font-size: 15px;
  }
  label{
    font-size: 11px; opacity: 0.7;
  }
}

.item-note{
  background: #FBFFE6;
}
.item-feedback{
  .notesAlert{
    right: -6px;
    top: -6px;
  }
}
.notesAlert{
  position: absolute;
  right: -9px;
  top: -9px;
  display: block;
  background: #000;
  color: #fff;
  font-size: 11px;
  border-radius: 100%;
  border: 2px solid #fff;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.bg-grey{
  background-color: #eee;
}
.card-double{
  .card{
    margin:18px 12px;
  }
}
.no-bottom{
  margin-bottom: 0; padding-bottom: 0;
}
.card{
  .searchbar {
    font-size: 11px;
    height: 26px;
    border-radius: 2px 2px 0 0;
    padding: 0 8px;
    align-content: flex-end;
    align-items: flex-end;
    background-color: #666 !important;

    span{
      display: block;
      margin-right: 8px;
      opacity:0.85;
    }
  }
}

.messages{
  background-color: #EFFFE9;
  border-bottom: 1px solid #eee;

  .m-icon{
    font-size: 48px;
    opacity: 0.4;
  }
}

.align-right{
  text-align: right;
}

.group-choice{
  padding: 12px 0;
  label{
    margin-top:6px;
  }
  .button-round{
    opacity: 0.7;
  }
}

.table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-color: grey;

  th {
    border-bottom: 2px solid #ababab;
    padding: 5px;
  }

  td {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 5px;
  }
}


//Ristomix

.page-content.material {
  background: #efefef;
}
.item-content{
  label{
    width: 100%;
    display: block;
    opacity: 0.5;
    font-size: 11px;
    margin-bottom: 0.25rem;
  }
}

li.read{
  background-color: #eee !important;
}

li.unread{
  background-color: lightyellow !important;
  .item-title{
    font-weight: 700 !important;
  }
}

.quantity{
  background: #222;
  width: 48px;
  height: 48px;
  line-height: 48px;
  color: #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 24px;
}

.button-quantity{
  border-radius: 100%;
  font-size: 24px;
  padding: 0;
  width: 48px;
  display: block;
  min-width: 48px;
  height: 48px;
  line-height: 48px;
  &.negative{
    color: #c00;
  }
}

.table-widget{
  display: inline-block;
  margin-right: 5px;
  font-size: 24px;
  width:48px; height: 48px; line-height: 48px; text-align: center; border-radius: 100%; background: #2196f3; color:#fff;
}

.item-name{
  display: inline-block;
  margin-top:5px;
}

.card.with-border{
  border-style: solid; border-width:24px 2px;
  .card-footer{
    padding:16px
  }
  .card-header{
    padding:10px 16px
  }
}

.rc{
  font-family: "Roboto Condensed", "Roboto", Tahoma, Arial, Verdana;
}

.bottles-list{
  .item-title{
    strong{
      font-size: 24px;
      letter-spacing: -0.5px;
    }
  }
  .format{
    font-size: 16px;
    margin-right: 10px;
  }
  .item-after {
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 4px;
  }
}

.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@import "login";
@import "responsive";
