@color-red:  #f44336;
@color-yellow: #ffc107;
@color-green: #4caf50;
@color-blue: #2196f3;
@color-orange: #ff9800;
@color-urgent: #9c27b0;
@color-teal: #009688;
@color-brown: #795548;
@color-grey: #9e9e9e;

.theme-teal{
  .searchbar{
    background-color: @color-teal;
  }
  .user-box .user-icon{
    color:@color-teal !important;
  }
}
.theme-green{
  .searchbar{
    background-color: @color-green;
  }
  .user-box .user-icon{
    color:@color-green !important;
  }
}
.theme-pink{
  .searchbar{
    background-color: #e91e63;
  }
  .user-box .user-icon{
    color:#e91e63 !important;
  }
}
.theme-indigo{
  .searchbar{
    background-color: #3f51b5;
  }
  .user-box .user-icon{
    color:#3f51b5 !important;
  }
}
.theme-red{
  .searchbar{
    background-color: #f44336;
  }
  .user-box .user-icon{
    color:#f44336 !important;
  }
}
.theme-cyan{
  .searchbar{
    background-color: #00bcd4;
  }
  .user-box .user-icon{
    color:#00bcd4 !important;
  }
}
.theme-black{
  .searchbar{
    background-color: #000;
  }
  .user-box .user-icon{
    color:#000 !important;
  }
}
.theme-brown{
  .searchbar{
    background-color: @color-brown;
  }
  .user-box .user-icon{
    color:@color-brown !important;
  }
}
.theme-orange{
  .searchbar{
    background-color: @color-orange;
  }
  .user-box .user-icon{
    color:@color-orange !important;
  }
}
.theme-gray{
  .searchbar{
    background-color: @color-grey;
  }
  .user-box .user-icon{
    color:@color-grey !important;
  }
}